:root{
    --text-color : white ; 
    --text-shadow :  2px 2px 5px rgba(0, 0, 0, 0.5) ; 
    --text-main  : 14px ; 
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
.boder-List{
    border-bottom: 1px solid gray;
}
.bg-white {
    background: white;
}
.p_main{
    padding: 0 50px ;
}
body{
    margin: 0;
}
.footer_color{
    background-color: white;
    font-size: 15px ;
    font-weight: 500;

}
.demo-logo{
   display: flex ;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   font-weight: 700;
   color: black; 
}
.bg-title{
    background-color: transparent;
}
.gioi_hang_boder{
     width: 50%;
}
.title-2{
    font-size: 5rem ;
    color: var(--text-color);
    text-shadow:var(--text-shadow); 
    margin: 0;
}
.title { 
    font-size: var(--text-main);
    font-weight: 600;
    color: var(--text-color);
    text-shadow:var(--text-shadow);
    margin: 0;
 
}
.title-1{
    font-size: var(--text-main);
    color: var(--text-color);
    text-shadow:var(--text-shadow);
    margin: 0;
}
.text-card{
    color: black;
}
.Card{
   width:  150px ;
   padding: 0.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.title-4{
    font-size: 2rem;
    color:black ; 
    font-weight: 400;
    margin: 0;
}
.title-3{
    font-size: var(--text-main);
    color: black ; 
    font-weight: 100;
    margin: 0;
}
.bg_portfolio{
    background-image: url("https://img.lovepik.com/bg/20240418/Serene-Nature-Scenery-Stunning-3D-Illustration-of-Idyllic-Moonlit-Autumn_6304413_wh860.jpg!/fw/860");
    background-size: cover;
    background-repeat: no-repeat;
}
.flex_row_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_main{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top:  1rem;
    padding-bottom:1rem ;
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
#screen1 {
    background-color: #3498db;
    animation: slideDown 2s ease forwards;
}
#screen1 .content {
    animation: bounce 2s infinite;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #FF3D00;
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 